.nav {
  background-color: #f9f9fa;
  padding: 20px 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}
.nav__ul{
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
}
.nav__link {
  color: #2e363e;
  position: relative;
}
.nav__notification {
  position: absolute;
  top: -15px;
  left: 12px;
  animation: notificationAnimation 3s ease-in-out infinite;
}
.nav__notification2 {
  width: 6px;
  height: 6px;
  position: absolute;
  background-color: tomato;
  border-radius: 50%;
  top: -5px;
  left: 25px;
}
@keyframes notificationAnimation {
  0%{
    transform: none;
  }
  50%{
    transform: translateY(-3px);
  }
  100%{
    transform: none;
  }
}

/* @keyframes appearBtnAnimation {
  from {
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
} */
/* .nav__btn {
  animation: appearBtnAnimation 1s linear;
  transform: translateY(80px);
  opacity: 0;
}
.nav__btn:nth-child(2) {
  animation-delay: 0.5;
}
.nav__btn:nth-child(3) {
  animation-delay: 1s;
}
.nav__btn:last-child {
  animation-delay: 1.5s;
} */